{{ if eq .chezmoi.os "windows" }}
[cd]
command = "pwsh.exe"
{{ end }}

[diff]
    exclude = ["scripts"]

[onepassword]
{{- if env "OP_SERVICE_ACCOUNT_TOKEN" }}
    mode = "service"
{{- else }}
    mode = "account"
{{- end }}
