test -r ~/.bashrc && . ~/.bashrc

shopt -s autocd
shopt -s dotglob

HISTSIZE=100000
HISTFILESIZE=10000000

export EDITOR=nvim

alias tn="tmux new -s main"
alias ta="tmux a -t main"
alias rl="source ~/.bash_profile"
alias gs="git status"
alias gd="git diff"
alias che="chezmoi"
alias g="ghq_list"

function ghq_list() {
  local repo
  repo=$(ghq list | fzf) || return
  cd "$(ghq root)/$repo"
}


eval "$(~/.local/bin/mise activate bash)"


{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# use ssh command on host machine(Windows)
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
{{   end }}
{{ end }}

