test -r ~/.bashrc && . ~/.bashrc

shopt -s autocd
shopt -s dotglob

HISTSIZE=100000
HISTFILESIZE=10000000

export EDITOR=nvim

tn() { tmux new -s "${1:-main}"; }
ta() { tmux a -t "${1:-main}"; }
alias rl="source ~/.bash_profile"
alias gs="git status"
alias gd="git diff"
alias che="chezmoi"

alias cc="cage claude --allow-dangerously-skip-permissions"
alias ccd="cage claude --dangerously-skip-permissions"

function ghq_list() {
  local repo
  repo=$(ghq list | grep -Ev -- '-worktrees/[^/]+$' | fzf) || return
  cd "$(ghq root)/$repo"
}
alias g="ghq_list"

function git_worktree_list() {
  local select
  local repo
  select=$(git-wt | sed 1d | fzf ) || return
  repo=$(awk '{print $1}' <<< $select)
  cd $repo
}
alias gw="git_worktree_list"

function attach_tmux_session_list() {
  local session
  session=$(tmux list-sessions -F '#{session_name}' | fzf) || return
  tmux a -t "$session"
}
alias tl="attach_tmux_session_list"


eval "$(~/.local/bin/mise activate bash)"


{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# use ssh command on host machine(Windows)
# alias ssh='ssh.exe'
# alias ssh-add='ssh-add.exe'
{{   end }}
{{ end }}

