[user]
	email = 377137+supermomonga@users.noreply.github.com
	name = supermomonga
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
        sshCommand = ssh.exe
{{   end }}
{{ end }}
