[user]
	email = 377137+supermomonga@users.noreply.github.com
	name = supermomonga
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# socat + npipereply.exe でソケット経由で認証するので
# Linux 側の ssh コマンドのままで OK
#        sshCommand = ssh.exe
{{   end }}
{{ end }}

{{ if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
{{ end }}

{{ if eq .chezmoi.os "windows" }}
[credential "helperselector"]
        selected = manager
{{ end }}

[wt]
        basedir = ../{gitroot}-worktrees
        copy = .vscode/
        copy = .env
        copy = .envrc
        copy = *.local.toml
        copy = *.local.yaml
        copy = *.local.json
        hook = mise install
