model = "gpt-5.5"
model_reasoning_effort = "xhigh"
network_access = true
sandbox_mode = "workspace-write"
approval_policy = "on-request"
web_search_request = true
service_tier = "fast"
personality = "pragmatic"
#notify = ["sh", "-c", "edge-playback -v ja-JP-NanamiNeural -t \"コーデックスのタスクが完了しました\""]

[features]
hooks = true
fast_mode = true
remote_connections = true
memories = true
multi_agent = true

[marketplaces.openai-bundled]
source_type = "local"
source = "{{ joinPath .chezmoi.homeDir ".codex/.tmp/bundled-marketplaces/openai-bundled" }}"

[marketplaces.openai-primary-runtime]
source_type = "local"
source = "{{ joinPath .chezmoi.homeDir ".cache/codex-runtimes/codex-primary-runtime/plugins/openai-primary-runtime" }}"

[memories]
generate_memories = true
use_memories = true
disable_on_external_context = true

[sandbox_workspace_write]
writable_roots = ["~/.cache/"]

[profiles.full_auto]
approval_policy = "never"
sandbox_mode    = "workspace-write"

[profiles.terminal-command]
model = "gpt-5.5"
model_reasoning_effort = "low"
network_access = false
sandbox_mode = "read-only"
approval_policy = "on-request"

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true

[notice.model_migrations]
"gpt-5.1-codex-max" = "gpt-5.2-codex"
"gpt-5.2-codex" = "gpt-5.3-codex"

[mcp_servers]

[mcp_servers.context7]
url = "https://mcp.context7.com/mcp"
env_http_headers = { "CONTEXT7_API_KEY" = "CONTEXT7_API_KEY" }

[plugins."gmail@openai-curated"]
enabled = true

[plugins."github@openai-curated"]
enabled = true

[tui.model_availability_nux]
"gpt-5.5" = 4

{{- if lookPath "ghq" }}
{{- $ghqRoot := output "ghq" "root" | trim }}
{{- $repos := output "ghq" "list" | splitList "\n" | sortAlpha }}

[projects]
{{ range $repos -}}
{{   if hasPrefix "github.com/supermomonga/" . }}
[projects.'{{ joinPath $ghqRoot . }}']
trust_level = "trusted"
{{ end -}}
{{ end -}}
{{- end -}}
