model = "gpt-5.3-codex"
model_reasoning_effort = "high"
network_access = true
sandbox_mode = "workspace-write"
approval_policy = "on-request"
web_search_request = true
notify = ["sh", "-c", "edge-playback -v ja-JP-NanamiNeural -t \"コーデックスのタスクが完了しました\""]

[sandbox_workspace_write]
writable_roots = ["~/.cache/"]

[profiles.full_auto]
approval_policy = "never"
sandbox_mode    = "workspace-write"

[profiles.terminal-command]
model = "gpt-5"
model_reasoning_effort = "low"
network_access = false
sandbox_mode = "read-only"
approval_policy = "on-request"

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true

[notice.model_migrations]
"gpt-5.1-codex-max" = "gpt-5.2-codex"
"gpt-5.2-codex" = "gpt-5.3-codex"

[mcp_servers]

[mcp_servers.context7]
url = "https://mcp.context7.com/mcp"
env_http_headers = { "CONTEXT7_API_KEY" = "CONTEXT7_API_KEY" }

{{- if lookPath "ghq" }}
{{- $ghqRoot := output "ghq" "root" | trim }}
{{- $repos := output "ghq" "list" | splitList "\n" | sortAlpha }}

[projects]
{{ range $repos -}}
{{   if hasPrefix "github.com/supermomonga/" . }}
[projects.'{{ joinPath $ghqRoot . }}']
trust_level = "trusted"
{{ end -}}
{{ end -}}
{{- end -}}
