{
  "name": "tabby-wezterm-compat",
  "version": "0.1.1",
  "description": "Tabby compatibility helpers for this dotfiles WezTerm setup",
  "main": "dist/index.js",
  "author": "supermomonga",
  "license": "UNLICENSED",
  "keywords": [
    "tabby-plugin"
  ]
}
