{
  "name": "tabby-wezterm-copymode",
  "version": "0.1.0",
  "description": "WezTerm-style keyboard copy mode for Tabby",
  "main": "dist/index.js",
  "author": "supermomonga",
  "license": "UNLICENSED",
  "keywords": [
    "tabby-plugin"
  ]
}
