{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

ARCH=$(dpkg --print-architecture)

# Add 1Password CLI repository
# TODO: Environments機能がBetaからStableになったらbetaチャンネルをstableに戻す
# ref: https://developer.1password.com/docs/cli/reference/#beta-builds
# ref: https://app-updates.agilebits.com/product_history/CLI2
# ref: https://www.1password.community/discussions/developers/1password-cli-bug-report-service-account-cannot-read-environments/167547
OP_CHANNEL=beta

ensure_cmd() {
  local cmd=$1; shift
  if [[ $cmd == /* || $cmd == ~/* ]]; then
    eval [[ -f "$cmd" ]] && return
  else
    command -v "$cmd" &>/dev/null && return
  fi
  eval "$@"
}

ensure_file() {
  local file=$1; shift
  [[ -f $file ]] && return
  sudo mkdir -p "$(dirname "$file")"
  "$@" | sudo tee "$file" >/dev/null
}

ensure_file_content() {
  local file=$1; shift
  local content
  content=$("$@")
  if [[ ! -f "$file" ]] || [[ "$(cat "$file")" != "$content" ]]; then
    sudo mkdir -p "$(dirname "$file")"
    echo "$content" | sudo tee "$file" >/dev/null
  fi
}

OP_KEY=$(curl -sS https://downloads.1password.com/linux/keys/1password.asc)
ensure_file /usr/share/keyrings/1password-archive-keyring.gpg \
  gpg --dearmor <<< "$OP_KEY"
ensure_file_content /etc/apt/sources.list.d/1password.list \
  echo "deb [arch=${ARCH} signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/${ARCH} ${OP_CHANNEL} main"
ensure_file /etc/debsig/policies/AC2D62742012EA22/1password.pol \
  curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol
ensure_file /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg \
  gpg --dearmor <<< "$OP_KEY"

# Add GitHub CLI repository
ensure_file /etc/apt/keyrings/githubcli-archive-keyring.gpg \
  curl -sS https://cli.github.com/packages/githubcli-archive-keyring.gpg
ensure_file_content /etc/apt/sources.list.d/github-cli.list \
  echo "deb [arch=${ARCH} signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main"

# Install missing packages
PACKAGES=(
  build-essential
  htop
  1password-cli
  gh
)
MISSING=()
for pkg in "${PACKAGES[@]}"; do
  dpkg -s "$pkg" &>/dev/null || MISSING+=("$pkg")
done
if [[ ${#MISSING[@]} -gt 0 ]]; then
  sudo apt update
  sudo apt install -y "${MISSING[@]}"
fi

ensure_cmd ~/.local/bin/mise 'curl https://mise.run | sh'


{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
#brew install ripgrep

ensure_cmd() {
  local cmd=$1; shift
  case "$cmd" in
    /*|~/*) eval [ -f "$cmd" ] && return ;;
    *) command -v "$cmd" >/dev/null 2>&1 && return ;;
  esac
  eval "$@"
}

ensure_cmd ~/.local/bin/mise 'curl https://mise.run | sh'
ensure_cmd gh 'brew install gh'


{{ end -}}
