{{- if lookPath "gh" -}}
{{- $npmrcJq := `.hosts["github.com"][]? | select((.scopes // "") | split(", ") | any(. == "read:packages")) | "@\(.login):registry=https://npm.pkg.github.com\n//npm.pkg.github.com/:_authToken=\(.token)"` -}}
{{- $lines := output "gh" "auth" "status" "--show-token" "--json" "hosts" "--jq" $npmrcJq | trim -}}
{{- if ne $lines "" -}}
{{ $lines }}
{{ end -}}
{{- end -}}
